<h1>Consent Management</h1>

<article>
  <h2>User consent for tracking</h2>
  <p>
    If you have configured the Matomo tracker to expect consent for tracking, then no tracking will
    occur until consent is given.
  </p>
  <p>
    Is tracking consent required? <kbd>{{ isTrackingConsentRequired() }}</kbd>
  </p>
  <p>
    Has tracking consent been given? <kbd>{{ isTrackingConsentGiven() }}</kbd>
  </p>
  <footer>
    <div class="grid">
      <button class="primary" (click)="onGiveTrackingConsent()">Give Consent</button>
      <button class="secondary" (click)="onRemoveTrackingConsent()">Remove Consent</button>
    </div>
  </footer>
</article>

<article>
  <h2>User consent for cookies</h2>
  <p>
    If you have configured the Matomo tracker to expect consent for setting cookies, then no cookie
    will be set until consent is given.
  </p>
  <p>
    Has cookie consent been given? <kbd>{{ isCookieConsentGiven() }}</kbd>
  </p>
  <p>
    Is Matomo using cookies? <kbd>{{ hasCookies() }}</kbd>
  </p>
  <footer>
    <div class="grid">
      <button class="primary" (click)="onGiveCookieConsent()">Give Consent</button>
      <button class="secondary" (click)="onRemoveCookieConsent()">Remove Consent</button>
    </div>
  </footer>
</article>

<h2>Code examples</h2>

<details>
  <summary>Knowing if Matomo has its cookies enabled</summary>
  <pre><code class="language-typescript">{{ hasCookiesCode }}</code></pre>
</details>

<details>
  <summary>Giving tracking consent</summary>
  <pre><code class="language-typescript">{{ giveConsentCode }}</code></pre>
</details>

<details>
  <summary>Forgiving given tracking consent</summary>
  <pre><code class="language-typescript">{{ removeConsentCode }}</code></pre>
</details>
