<h1>Event handling</h1>

<article>
  <table>
    <caption>
      Buttons and Links
    </caption>
    <thead>
      <tr>
        <th>Description</th>
        <th>Sample</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Regular button - Tracking managed with code</td>
        <td><button (click)="onClick()">Click Me!</button></td>
      </tr>
      <!-- <tr>
        <td>Regular button - Tracking managed with directive</td>
        <td><button>Click Me!</button></td>
      </tr> -->
      <tr>
        <td>Regular link</td>
        <td><a href="https://matomo.org/">Matomo</a></td>
      </tr>
    </tbody>
  </table>
</article>

<h2>Code examples</h2>

<details>
  <summary>Code for tracking an event</summary>
  <pre><code class="language-typescript">this.matomoTracker.trackEvent('Category', 'Button pressed', 'tracking with code');</code></pre>
</details>

<hr />

<details>
  <summary>Directive for tracking a click</summary>
  <pre><code class="language-html">&lt;button
  matomoClickCategory="Category"
  matomoClickAction="Button pressed"
  matomoClickName="Tracking with directive"
&gt;
  Click Me!
&lt;/button&gt;</code></pre>
</details>
